@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Cormorant+Garamond:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #bbd6fe;
    --secondary-color: #a8a8b5;
    --background-color: #0c0105;
    --text-gradient: linear-gradient(135deg,
            #bbd6fe 0%,
            #686a6c 20%,
            #ffffff 30%,
            #686a6c 50%,
            #ffffff 60%,
            #686a6c 80%,
            #bbd6fe 100%);
}

@keyframes smoothScroll {
    0% {
        opacity: 0;
        filter: blur(.7vw);
        transform: translateY(10vw);
    }

    100% {
        opacity: 1;
        filter: none;
        transform: translateY(0);
    }
}

.gradient-text {
    background: var(--text-gradient);
    background-clip: text;
    color: transparent;
}

.body {
    background-color: var(--background-color);
    font-family: 'Cormorant Garamond', serif;
}

.header {
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header img {
    height: 20vw;
    filter: hue-rotate(180deg);
    opacity: 95%;
}

.header h1 {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    font-size: 6vw;
    text-align: center;
}

.header p {
    text-align: center;
    font-size: 4vw;
}

.header .nav {
    width: 100%;
    margin: 5vw 0;
    background: var(--text-gradient);
    border-radius: 2rem;
    padding: 1vw;
    font-weight: bolder;
    font-size: 2.5vw;
}

.header .nav ul {
    display: flex;
    gap: 5vw;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header .nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--background-color);
    transition: 0.3s;
    text-shadow: 1px 1px #ffffff;
}

.header .nav a:hover {
    /* color: var(--primary-color); */
    text-decoration: underline;
    transform: scale(1.2);
}

.main {
    font-weight: bolder;
    font-size: 2.5vw;
    padding: 0 3vw;
}

.main p {
    text-align: justify;
}

.highlights,
.gallery {
    margin: 4vw 0;
}

.highlights p,
.gallery p,
.address p {
    text-align: center;
    margin-bottom: 3vw;
    font-size: 5vw;
    
}

section a {
    text-decoration: none;
}

.highlights .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.highlights .slide {
    display: none;
    width: 25vw;
    height: auto;

    object-fit: cover;

    /* border-radius: 10px; */
    border: 0.8vw solid #cde1ff9f;
    border-image: var(--text-gradient) 1;
    clip-path: inset(0 round 10px);
}

.highlights .slide.active {
    display: block;
}

.button {
    width: 5.5vw;
    height: 5.5vw;

    border: 0.2vw solid var(--secondary-color);
    border-radius: 50%;

    font-size: 3.5vw;
    cursor: pointer;
    background: var(--text-gradient);
    color: var(--background-color);
}

.button:hover {
    background: var(--background-color);
    color: var(--secondary-color);
}

.return {
    position: relative;
}

.return .button {
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    /* transform: rotate(270deg) */
}

.columns {
    display: flex;
    justify-content: space-between;
}

.columns p {
    width: 100%;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.picture {
    width: 22.9vw;

    display: flex;
    height: auto;

    object-fit: cover;

    border-image: var(--text-gradient) 1;
    clip-path: inset(0 round 10px);

    transition: transform .3s ease;
    transform-origin: center;
    cursor: pointer;

    animation: smoothScroll ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.picture:hover {
    transform: perspective(1000px)
               rotateY(+8deg)
               rotateX(-8deg)
               scale(0.96);
    border: 0.3vw solid #cde1ff9f;
    border-image: var(--text-gradient) 1;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c0105dd;
    align-items: center;
    justify-content: center;
    /* z-index: 999; */
}

.lightboxImg {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;

    border: 0.5vw solid #cde1ff9f;
    border-image: var(--text-gradient) 1;
    clip-path: inset(0 round 10px);
}

.close{
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 3vw 0;
}

.address iframe {
    width: 45.8vw;
    height: 25vw;

    border: .8vw solid #cde1ff9f;
    border-image: var(--text-gradient) 1;
    clip-path: inset(0 round 10px);
}

.info {
    width: 100%;
    background: var(--text-gradient);
    font-size: 2vw;
    color: var(--background-color);
}

.info h2 {
    padding: 2vw 0 1vw 2vw;
    text-shadow: 1px 1px #ffffff;
}

.info p {
    text-shadow: 0.5px 0.5px #ffffff;
}

.info .contacts {
    padding: 0 0 1.5vw 3.5vw;
}

.info .copyright {
    padding: 1vw 0 1vw 2vw;
    text-align: center;
}

.info span {
    display: block;
    height: .3vw;
    
    border-bottom: 2px solid var(--secondary-color);
    background-color: var(--background-color);
}

.social {
    display: flex;
    flex-direction: row;
    gap: 6vw;
    padding: 1vw 0;
    justify-content: center;
}

.social a {
    font-size: 3vw;
    transition: 0.2s ease-in-out;
    color: var(--background-color);
    text-shadow: 0.5px 0.5px #ffffff;
}

@media (max-width: 640px) {

    .header .nav,
    .main {
        font-size: 4vw;
    }

    .header img {
        height: 40vw;
    }

    .header h1 {
        font-size: 7vw;
    }

    .header p {
        font-size: 5vw;
    }

    .highlights .slide {
        width: 70vw;
        border: 1.5vw solid #cde1ff9f;
        border-image: var(--text-gradient) 1;
    }

    .button {
        width: 8vw;
        height: 8vw;
    }

    .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5vw;
    }

    .column {
        gap: 1.5vw;
    }

    .column .picture {
        width: 90vw;
        animation: none;
        /* animation-range: entry 0% cover 50%; */
    }

    .picture:hover {
        border: 1vw solid #cde1ff9f;
        border-image: var(--text-gradient) 1;
    }

    .address iframe {
        width: 90vw;
        height: 40vw;
        margin-bottom: 10vw;
    }

    .info h2 {
        font-size: 7vw;
        text-align: center;
    }
    
    .info p {
        font-size: 4vw;
        text-shadow: 1px 1px var(--secondary-color);
        /* text-align: center; */
    }

    .contacts ul {
        list-style: none;
    }

    .social {
        justify-content: center;
        gap: 6vw
    }

    .social a {
        font-size: 6vw;
    }
}