.title {
    text-align: center;
    margin-bottom: 1vw;
    font-size: 5vw;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vw;
}

.upload p {
    text-align: center;
}

.dropzone {
    width: 70vw;
    margin: 2vw;
    padding: 3vw 2vw;

    border: 0.8vw solid #cde1ff9f;
    border-image: var(--text-gradient) 1;
    clip-path: inset(0 round 10px);

    cursor: pointer;
    transition: 0.25s;

    text-align: center;
}

.dropzone input {
    margin-top: 5vw;
    text-align: center;
}

.dropzone.drag {
    transform: scale(1.02);
}


@media (max-width: 640px) {
    .dropzone p {
        font-size: 3vw;
    }
}